:root { 	
	--button-bg-color:#0056a3;
	--main-border-color:#0056a3;
	--main-hover-color:#0056a3;
	--main-title-color:#0056a3;
	--main-bg-color:#fff;
	
	--color-1:#8dd44a;
	--color-2:#00aeeb;
	--color-3:#0056a3;
	--color-4: #bbdeff;
	
	--state1:silver;
	--state2:#fdb67b;
	--state3:#a0ecfb;
	--state4:#5eb78d;
}

body { 
	background: #bbdeff repeat scroll 0 0;
	background-attachment: fixed; 
	/*text-align: center;*/
	background-repeat: scroll 0 0;
} 

h4{
  color: var(--color-2);
  text-align: left;
}

.first-inner-wrapper{ 
	padding: 10px;
 	width: 100%;
 	border-radius: 0.375rem; 
 	margin-bottom:10px;
 	background: -moz-linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 10%);
	background: -webkit-linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 10%);
	background: linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 10%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f8f8",endColorstr="#ffffff",GradientType=1);
} 

div.tool-card{
	float:left;
	min-width:270px;
	max-width:500px;
	width:auto;
	height:150px;
	border:none;
	cursor: pointer;
}

div.tool-card:HOVER{
	box-shadow: var(--color-3) 0px 2px 4px !important;
}

div.tool-card.disabled{
	filter:grayscale(100%);
	cursor: default;
}

.modal-header{
	background: var(--color-3);
	color:#fff;
}

.modal .btn-close{
	filter: invert(100%);
}

/* SKELETON SHIMMER */

.skeleton-progressor{
	border:1px solid;
	border-color:#bdbdbd;
	border-radius:2px;
	padding: 20px;
	background: #ffffff;
}

.skeleton-progressor-shimmer {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #d8d8d8;
  background-image: linear-gradient(to right, #d8d8d8 0%, #bdbdbd 20%, #d8d8d8 40%, #d8d8d8 100%);
  background-repeat: no-repeat;
  /*background-size: 800px 104px;*/
  background-size: contain;
  height: 104px;
  position: relative
}

.skeleton-progressor-shimmer div {
  background: #ffffff;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0
}

div._2iwr {
  height: 40px;
  left: 40px;
  right: auto;
  top: 0;
  width: 8px;
}

div._2iws {
  height: 8px;
  left: 48px;
  top: 0
}

div._2iwt {
  left: 136px;
  top: 8px
}

div._2iwu {
  height: 12px;
  left: 48px;
  top: 14px
}

div._2iwv {
  left: 100px;
  top: 26px
}

div._2iww {
  height: 10px;
  left: 48px;
  top: 32px
}

div._2iwx {
  height: 20px;
  top: 40px
}

div._2iwy {
  left: 410px;
  top: 60px
}

div._2iwz {
  height: 13px;
  top: 66px
}

div._2iw- {
  left: 440px;
  top: 79px
}

div._2iw_ {
  height: 13px;
  top: 85px
}

div._2ix0 {
  left: 178px;
  top: 98px
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@-webkit-keyframes prideShimmer {
  from {
    background-position: top left
  }
  to {
    background-position: top right
  }
}

/* END SKELETON SHIMMER */